@import url(./fonts.css);
@import url(./components/header.css);
@import url(./color.css);
@import url(./components/banerHome.css);

ul,ol,h1,h2,p,body{
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
}

body{
    background-color: aliceblue;
}

.container-flueid{
    width: 100%;
}

.container{
    margin: 0 auto;
    width: 960px;
}