footer{
  background-color: #cb3362;
  padding: 40px;
}

footer li{
  display: inline-block;
  margin: 0 15px;
}

footer ul{
  text-align: center;
}

footer p{
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 15px;
  color: #ffffff;
  font-weight: 400;
  font-family: Roboto;
  text-align: center;
  margin-top: 20px;
}